@import "_colors.scss";

.upload {
    border: 1px solid $violet;
    border-radius: 92px;
    display: inline-block;
    padding: 24px 92px;
    margin: 10px;
    background-color: $violet;
    color: $background;
    font-size: 22px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    input[type="file"] {
        display: none;
    }
}

.upload:hover {
    background-color: $background;
    color: $white;
}

.upload:focus {
    outline: none;
}